/build/
/install/
/libtool
/stamp-h1
/gmp-mparam.h
/trialdivtab.h
/tune/sqr_basecase.c
/mp_bases.h
/mpn/*.h
/mpn/*.c
/mpn/*.asm
Makefile
config.log
config.status
gmp.h
gen-*
*_table.h
*config.h
*.o
*.so
*.dylib
*.swp
*.m4
*.lo
*.asm
*.la
.libs
